/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}






/* UTILITIES */
.flex {
    display: flex;
}

.only-mobile {
    display: none;
}









/* COMMON */

.medium {
    max-width: 1210px;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 0 auto;
}


:root {
    --text-col: #3f3c37;
    --primary-col: #9792e4;
    --secondary-col: #0084fd;
    --tertiary-col: #b5ddff;
}

a {
    text-decoration: none;
}


.big {
    width: calc((100%/3 - 25px) + (100%/3));
}

.small {
    width: calc(100% / 3 - 25px);
}









/* HEADER */

header {
    height: 75px;
    background-color: var(--secondary-col);
    width: 100%;
}

header .nav-bar {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.nav-bar a {
    text-decoration: none;
}








/* MAIN */

.application .container .box {
    background-color: var(--tertiary-col);
    height: calc(1210px / 3 - 50px);
}

.application .container {
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
}

.planning .col.one {
    width: 60%;
    border: 1px solid black;
    height: 700px;
}

.planning .col.two {
    width: 40%;
    border: 1px solid black;
    height: 700px;

}



.planning {
    background-color: var(--primary-col);
}


.planning .container {
    padding-left: 50px;
    height: 925px;
    padding-top: 120px;
    padding-bottom: 65px;
    padding-left: 120px;
    padding-right: 130px;
}







/* FOOTER */












/* MOBILE */

@media screen and (max-width:768px) {


    .only-mobile {
        display: block;
        color: white;
        font-size: 1.25rem;
    }

    .only-desktop {
        display: none;
    }

    header {
        max-width: 768px;
    }


    .application .container {
        flex-direction: column;
        align-items: center;
        width: 435px;
        margin: 0 auto;
    }

    .box.big {
        flex-direction: column;
        width: calc(100% / 3 - 25px);
        min-height: 600px;
    }

    .application.col {
        height: 50%;
        width: 100%;
    }

    .box {
        min-width: 360px;
    }

    .planning .col {
        border: 1px solid black;
    }

    .planning .col.one,
    .planning .col.two {
        width: 70%;
    }

    .planning .col.one {
        height: 60%;
    }

    .planning .col.two {
        height: 40%;
    }

    .planning .container {
        flex-direction: column;
        align-items: center;
        height: 1400px;
    }


}


/* TABLET */

@media screen and (max-width:992px) {

    .only-mobile {
        display: block;
        color: white;
        font-size: 1.25rem;
    }

    .only-desktop {
        display: none;
    }

    .application .container {
        justify-content: center;
    }

    .application.col {
        width: 50%;
    }



    .planning .col.one {
        height: 60%;
        width: 100%;
    }

    .planning .col.two {
        height: 40%;
        width: 100%;
    }

    .planning .container {
        flex-direction: column;
        align-items: center;
        height: 1400px;
    }

}